<!DOCTYPE html>
<html class="no-js">
<head>
   {% include head.html %}
</head>
<body>
   {% include nav.html %}
   <header class="header" role="banner">
      <div class="wrapper animated fadeIn">
         <div class="content">
            <div class="post-title">
               <h1>{{ page.title }}</h1>
               {% case page.title %}
                  {% when 'Address Book' %}
                     <p>This is a Address Book page. Welcome!</p>
                  {% when 'Petclinic' %}
                     <p>This is a Petclinic page. Welcome!</p>
                  {% else %}
                     <p>This is a Online Boutique page. Welcome!</p>
               {% endcase %}
            </div>
         </div>
      </div>
   </header>
   {% include scripts.html %}
</body>
</html>
